{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/home_style.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Niramit|Open+Sans|Oswald|Roboto" rel="stylesheet"/>
<title> Sandy V. Leon - Python Engineer </title>



<header style="color:#4d88ff"> Objective </header>

	<div class="sidebar">
	<div class="portrait"></div>
	<div class ="content-wrapper">
		<p class="sidebar-name"> Sandy V. Leon</p>
		<p class="sidebar-summary" style="padding-left: 16px;"> Python Software Engineer</p>
		<p class="sociallinks" style="color:#1E90FF"> <a href="https://github.com/SandoLando">Github / </a>
		<a href="mailto:sandyvleon@gmail.com"> Email</a></p>
		
		<ul class="sociallinks">
		<li class="selected">
			<a href="{% url 'home:index' %}">Home</a>
		</li>
		<li class="selected">
			<a href="{% url 'home:resume' %}">Resume</a>
		</li>
		
		
		
			</div>
			
</div>

<div>
<h2 style="padding:30px 0 10px 90px; text-align: center; color:#1E90FF;">
Content Developer Internship — Philadelphia, PA — DataCamp</h2>

<p style="text-align: justify; color: #444; padding: 15px 0 10px 275px; font-size:1.5em; line-height: 1.5em;">I am interested in an intern level position in Python Development. I am highly motivated<br> to learn any skill that will make me better at programming with Python. I am ready and<br> willing
to put in the hours and effort needed to become a skilled developer.</p>
</p>
</div>