{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/resume_style.css' %}"/>
<title>Sandy V. Leon - Resume</title>

<section data-description="Middle flourish">
<center>
<h1 class="mega regular ls-large libre-baskerville uppercase color-emphasis-3" style="margin-right: 50px">
			 Sandy <span style="font-size:46px; margin-bottom:11px" class="decorative-span ls-small">V</span> Leon
</h1>

<p class="border">
<a href="{% url 'home:index' %}" class="muli bold" style="font-size: 31px; position: absolute; left:40px; top:60px;">Home</a>
<a href="{% url 'home:resume' %}" class ="muli bold" style="font-size: 25px; position: absolute; left:40px; top:110px">Resume</a>
</p>

<center>

<p class="zeta bold muli uppercase line-height-small" style="margin-bottom:5rem; font-size: 16px;">
3926 Glendale St<br>
Philadelphia, PA 19124<br>
Tel: 1(267)407-9432<br>
Email: SandyVLeon@gmail.com
</p>
</center>
<!--
<p class="epsilon">
<h3 class="decorative-span vollkorn ls-small regular">OBJECTIVE</h3><br>
<h4 style="font-size:22px; margin-top:40px; margin-bottom:10px; color: #60547c" class="vollkorn">Content Developer Intern— Philadelphia, PA—DataCamp</h4><br>
<p class ="epsilon regular muli">
I am interested in an intern level position in Python Development. I am highly motivated<br> to learn any skill that will make me better at programming with Python. I am ready and<br> willing
to put in the hours and effort needed to become a skilled developer.</p>
</p>
-->
<p class="epsilon">
<h3 class="decorative-span vollkorn ls-small regular" style="margin-top:10px">EXPERIENCE</h3><br>
<h4 style="font-size:22px; margin-top:50px; margin-bottom:10px; color: #60547c"class="vollkorn">Rideshare Driver—Philadephia, PA—Independent Contracter</h4><br>
<p class ="epsilon regular muli">
Accommodating passengers and addressing any complaints or concerns that they may <br>have on the way. Ensuring a safe and comfortable trip. I site this work because of the level <br>of communication that is needed to get passengers happily to their destination, a skill that I did<br> not  possess at the start of working.</p>

</p>

<p class="epsilon">
<h3 class="decorative-span vollkorn ls-small regular" style="margin-top:45px">EDUCATION</h3><br>
<h4 style="font-size:22px; margin-top:40px; margin-bottom:10px; color: #60547c"class="vollkorn">Community College of Philadelphia—Philadephia, PA—Associate in Science</h4><br>
<p class="muli bold">SEPTEMBER 2013 - DECEMBER 2017</p>

<h4 style="font-size:22px; margin-top:10px; margin-bottom:10px; color: #60547c"class="vollkorn">Temple University—Philadephia, PA—Bachelor of Arts in Natural Science</h4><br>
<p class="muli bold"> AUGUST 2018 - PRESENT</p>

</p>

</section>
</center>




