bleach==1.5.0
bokeh==0.13.0
dj-database-url==0.5.0
Django==2.0.7
django-heroku==0.3.1
gast==0.2.0
get==1.0.3
grpcio==1.10.0
Markdown==2.6.11
MarkupSafe==1.0
networkx==2.1
odo==0.5.0
olefile==0.44
packaging==17.1
pandocfilters==1.4.2
parsel==1.5.0
pickleshare==0.7.4
pipenv==2018.7.1
post==1.0.2
postgres==2.2.2
prompt-toolkit==1.0.15
protobuf==3.5.2
psutil==5.4.7
psycopg2==2.7.5
psycopg2-binary==2.7.5
waitress==1.1.0
whitenoise==4.0

